image:
  repository: grafana/grafana
  tag: latest
  pullPolicy: IfNotPresent

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 512Mi

datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
    - name: Loki
      type: loki
      url: http://loki-gateway.loki.svc.cluster.local
      access: proxy
      isDefault: false
      editable: true

service:
  type: ClusterIP
  port: 3000

grafana.ini:
  server:
    root_url: https://grafana.malashikh.in
    serve_from_sub_path: false

ingress:
  enabled: true
  ingressClassName: traefik
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
  hosts:
    - grafana.malashikh.in
  path: /
  pathType: Prefix
  tls:
    - hosts:
        - grafana.malashikh.in