apiVersion: v1
kind: Service
metadata:
  name: nginx-service
  namespace: job-finder
  labels:
    app: nginx-svc
spec:
  type: NodePort
  selector:
    app: nginx
  ports:
  - port: 80
    targetPort: 80
    nodePort: 30005
